<!-- 导入股骨架 -->
{{extend './common/layout.html'}}

{{block 'main'}}
<!-- 头部 -->
{{include './common/header.html'}}
<!-- /头部 -->
<!-- 主体内容 -->
<div class="content">
    <!-- 侧边栏 -->
    {{include './common/aside.html'}}
    <!-- 侧边栏 -->
    <div class="main">
        <!-- 分类标题 -->
        <div class="title">
            <h4>{{title}}</h4>
        </div>
        <div class="title tip-title">
            <h4 style="display: <%= okmessage ? 'block' : 'none' %>">{{okmessage}}</h4>
        </div>
        <!-- /分类标题 -->
        <form class="form-container" method="POST" action="{{link}}" enctype="multipart/form-data">
            <div class="form-group">
                <label>标题</label>
                <input name="title" type="text" class="form-control" placeholder="请输入文章标题"
                    value="{{article && article.title}}">
            </div>
            <div class="form-group">
                <label>作者</label>
                <input name="author" type="text" class="form-control" readonly value="{{@userInfo._id}}">
                <!-- value="{id:{{@userInfo._id}},username:{{userInfo.username}}} -->
            </div>
            <div class="form-group">
                <label>发布时间</label>
                <input name="publishDate" type="date" class="form-control" value="{{article && article.publishDate}}">
            </div>

            <div class="form-group">
                <label for="exampleInputFile">文章封面</label>
                <input name="cover" type="file" id="file" value="<%article && article.cover ? '重新上传': '上传文件'%>">
                <div class=" thumbnail-waper">
                    <img class="img-thumbnail" src="<%=article && article.cover ? article.cover :'' %>" id="preview">
                </div>
            </div>

            <div class="form-group">
                <label>内容</label>
                <textarea name="content" class="form-control" id="editor">
                    {{if article && article.content.length > 0}}
                        <p>{{article.content}}</p>
                    {{/if}}
                </textarea>
            </div>
            <div class="buttons">
                <input value="{{btnMsg}}" type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
<!-- /主体内容 -->
{{/block}}

{{block 'script'}}
<script src="/admin/lib/ckeditor5/ckeditor.js"></script>
<script type="text/javascript">

    let editor;

    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(newEditor => {
            editor = newEditor;
        })
        .catch(error => {
            console.error(error);
        });

    // 获取数据
    // const editorData = editor.getData();
    const file = document.querySelector('#file')
    const previewImg = document.querySelector('#preview')
    // 选择文件的上传控件
    // $('#file').onchange = function () {
    //     console.log('a');

    //     // 用户选择的文件列表
    //     const files = this.files;
    //     console.log(files);
    // }
    file.onchange = async function () {
        // 创建文件读取对象
        console.log(this.files);
        const reader = new FileReader();
        // 读取文件的二进制流
        reader.readAsDataURL(this.files[0]);
        // 文件读取完成事件
        reader.onload = function () {
            //读取文件之后转化的结果
            // console.log(reader.result);
            // 将图片展示在页面中
            previewImg.src = reader.result;
        }
    }
</script>
{{/block}}